.prefux-shape {
	-fx-fill: darkgrey;
	-fx-alignment: center;
}

.prefux-shape-highlight {
	-fx-fill: blue;
	-fx-alignment: center;
}

.prefux-label {
	-fx-alignment: center;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
}

.prefux-label .label {
	font-size: 22pt;
	-fx-alignment: center;
	-fx-text-fill: red;
	-fx-text-alignment: center;
}

.invisible {
	visibility: hidden;
}